/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@font-face {
  font-family: league-script;
  src: url("League-Gothic/LeagueGothic-Regular.otf");
}

/* Start of specific styles */
html {
}

.interactions {
	background: url("free-paper-texture-6.jpg");
	width: 430px;
	float: right;
}

.interactions li {
	border-right: solid black 20px;
	display: block;
	height: 5em;
}

.interactions li:first-child {
	border-top: solid black 1px;
}

.interactions li .light {
	box-sizing: border-box;
	border: solid black 3px;
	width: 30px;
	height: 30px;
	margin-top: 25px;
	margin-right: 25px;
	float: right;
	border-radius: 15px;
}

.interactions li .icon, .interactions li .chat {
	box-sizing: border-box;
	padding: 5px;
	float: right;
	height: 100%;
}

.interactions li span.label {
	font-family: league-script;
	font-size: 30px;
	margin-left: 15px;
	line-height: 80px;
}

.container {
	margin: 0 auto;
	width: 1600px;
}

.container:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	font-size: 0;
}

.board {
	float: left;
	background-color: #5A240D;
	margin: 0 auto;
	width: 1150px;
	padding: 10px;
	position: relative;
}

#map, #map_select {
	position: absolute;
	top: 10px;
	left: 10px;
}

#map_select {
	opacity: 0.2;
}

nav {
	background-color: #1D3B55;
	width: 100%;
	margin: 0px auto 0.5em auto;
	display: block;
	text-align: center;
	height: 80px;
	line-height: 70px;
}

nav ul {
	list-style: none;
	margin: 0 auto;
	width: 1150px;
	padding: 0;
}

nav img {
	height: 70px;
	margin-right: 20px;
}

nav li {
	float: left;
	display: inline;
	margin: 0;
}

nav a:link, nav a:visited {
	border-left: solid #2F4F69 1px;
	font-family: league-script;
	font-size: 30px;
	color: #d3d3d3;
	display: inline-block;
	padding: 5px 1.5em;
	text-decoration: none;
}

nav a.active, nav a:active, nav a:hover {
	background-color: #467422;
	border-left: solid #60903C 1px;
}

.login_form label
{
    float: left;
    font-weight: bold;
    color: #333;
    font-size: 13px;
    width: 110px;
    line-height: 22px;
}

.login_form input[type="text"],
.login_form input[type="password"]
{
    font: normal 12px/18px "Lucida Grande", Verdana;
    padding: 3px;
    border: 1px solid #ddd;
    width: 200px;
}

.login_form p {
    border-bottom: solid #ddd 1px;
    padding: 20px 30px;
    margin: 0;
}

.login_form p:nth-last-child(2) {
    border: none;
}

.login_form.modal {
    padding: 0;
}

body .modal {
    display: none;
}

.login_status {
    float: right;
    color: red;
}
