html
	head
		title RipLine
		//FOSS CDN Hosted
		link(href="https://fonts.googleapis.com/css?family=Orbitron:regular,500|Open+Sans:regular,bold|Oswald:regular,bold" rel="stylesheet")
		link(rel="stylesheet" href="/master.css")
		link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/solarized-dark.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.8.0/jquery.modal.min.css")
		link(rel="shortcut icon" href="/ripline.png" type="image/png")
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css')

		//Scripts
		script(src="https://use.fontawesome.com/e62ba4047d.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js")

		// Our assets
		script(src="/bundle.js")

	body
		if success
			strong.success Your snippet was successfully saved.

		.container
			.main-nav
				a(href="/") Search
				a(href="https://www.github.com/d0liver/ripline") GitHub
				if !user
					a(href="/auth/github") Log In
				else
					a(href='/logout') Log Out
			block content
