html
	head
		title Dead Potato
		//FOSS CDN Hosted
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.8.0/jquery.modal.min.css")
		link(rel="shortcut icon" href="/images/deadpotato.png")
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css')

		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" )
		link(rel="stylesheet" href="/master.css")
		//TODO: Get a separate font awesome code for this project.
		script(src="https://use.fontawesome.com/e62ba4047d.js")
		script(src="/bundle.js")
	body
		form#say_hello.login_form.modal
			p
				label Username:
				input(type='text', name='username')
			p
				label Password:
				input(type='password', name='password')
			p
				input(type='submit', name='Submit')
				span#login_status.login_status
		nav
			ul.links
				li
					a.navigate(href='/')
						img.logo(src='/images/deadpotato.png')
				li.dropdown
					a.navigate.nav-link(href='/games') Games
					ul.menu.hidden
						li
							a(href='/games') Join
						li
							a(href='/new-game') New
						li
							a(href='/games/delete') Edit
						li
							a(href='/games/delete') Quit
						if typeof gid !== 'undefined'
							li
								a(href='/remove-game/'+gid) Delete
				li
					a.navigate.nav-link(href='/upload-variant') Upload
				li
					a.navigate.nav-link(href='/auth/google') Login
				li
					a.navigate.nav-link(href='/about') About
		.content
			block content
